<header class='header'>
    <nav class='header__navigation container'>
        <a class='header__logo' href='#'>
            <div class="header__logo-img"></div>
            <p class='header__logo-title'>Forkio</p> 
        </a>
        <button class='header__buy-button'>Buy now</button>
        <button class='header__menu-button'>
            <span></span>
        </button>
        <ul class='header__menu'>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Overview</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">About Fork</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Buying Options</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Support</a></li>
        </ul>
    </nav>
    <div class="container">
    <h1 class='header__title'>Fork app</h1>
    <p class='header__description'>A Real Gamechanger In The World Of Web-Development</p>
    <p class="header__version">v. 2.8 For Mac and Windows</p>
    <button class="header__download-button">Download For Free Now</button>
    <p class='header__trial'>Unlimited 30-Days Trial Period</p>
    </div>
</header>