<section class='people-talking'>
    <div class='container'>
    <h1 class='people-talking__title'>People Are Talking About Fork</h1>
    <ul class='people-talking__content'>
        <li class='people-talking__item'>
            <img class='people-talking__item-img' src='@img/talking-section/logo1.png'>
            <p class='people-talking__item-text'>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
        </li>
        <li class='people-talking__item'>
            <img class='people-talking__item-img' src='@img/talking-section/logo2.png'>
            <p class='people-talking__item-text'>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
        </li>
        <li class='people-talking__item'>
            <img class='people-talking__item-img' src='@img/talking-section/logo3.png'>
            <p class='people-talking__item-text'>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
        </li>
        <li class='people-talking__item'>
            <img class='people-talking__item-img' src='@img/talking-section/logo4.png'>
            <p class='people-talking__item-text'>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
        </li>
        <li class='people-talking__item'>
            <img class='people-talking__item-img' src='@img/talking-section/logo5.png'>
            <p class='people-talking__item-text'>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
        </li>
        <li class='people-talking__item'>
            <img class='people-talking__item-img' src='@img/talking-section/logo6.png'>
            <p class='people-talking__item-text'>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
        </li>
    </ul>
    <p class='people-talking__info'>Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    </div>
</section>