<footer class="pricing">
    <div class="container">
        <h2 class="pricing__title">Fork Subscription Pricing</h2>
        <ul class="pricing__content">
            <li class="pricing__content-item">
                <div class="pricing__item-header">
                    <h4 class="pricing__item-title">students</h4>
                </div>
                <div class="pricing__item-main">
                    <p class="pricing__item-price"><span class="pricing__item-price--thin">$</span>29</p>
                    <p class="pricing__item-period">per month</p>
                    <p class="pricing__item-license">Personal License</p>
                    <button class="pricing__item-button">purchase</button>
                </div>
            </li>
            <li class="pricing__content-item">
                <div class="pricing__item-header">
                    <h4 class="pricing__item-title">professional</h4>
                </div>
                <div class="pricing__item-main">
                    <p class="pricing__item-price"><span class="pricing__item-price--thin">$</span>59</p>
                    <p class="pricing__item-period">per month</p>
                    <p class="pricing__item-license">Professional License<br /><br />Email Support</p>
                    <button class="pricing__item-button">purchase</button>
                </div>
            </li>
            <li class="pricing__content-item pricing__content-item--active">
                <div class="pricing__item-header pricing__item-header--active">
                    <h4 class="pricing__item-title">agency</h4>
                </div>
                <div class="pricing__item-main pricing__item-main--active">
                    <p class="pricing__item-price pricing__item-price--active"><span class="pricing__item-price--thin">$</span>99</p>
                    <p class="pricing__item-period pricing__item-period--active">per month</p>
                    <p class="pricing__item-license pricing__item-license--active">1-12 Team Members<br /><br />Phone Support</p>
                    <button class="pricing__item-button pricing__item-button--active">purchase</button>
                </div>
            </li>
            <li class="pricing__content-item">
                <div class="pricing__item-header">
                    <h4 class="pricing__item-title">enterprise</h4>
                </div>
                <div class="pricing__item-main">
                    <p class="pricing__item-price"><span class="pricing__item-price--thin">$</span>159</p>
                    <p class="pricing__item-period">per month</p>
                    <p class="pricing__item-license">Unlimited Team Members<br /><br />24/ 7 Phone Support</p>
                    <button class="pricing__item-button">purchase</button>
                </div>
            </li>
        </ul>
    </div>
</footer>