<section class="what-you-get">
    <div class="container">
        <div class="what-you-get__wrapper-flex">
        <h2 class="what-you-get__title">
            &lt;Here is what you get&gt;
        </h2>
        <ul class="what-you-get__content">
            <li class="what-you-get__content-item">
                <div class="what-you-get__content-img-wrapper">
                    <img src="@img/what-you-get-section/website-icon.png" alt="img" class="what-you-get__content-img">
                </div>
                <div class="what-you-get__content-info-wrapper">
                    <h3 class="what-you-get__content-info-title">Creatred to Make The Web Better</h3>
                    <p class="what-you-get__content-info-text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra
                        dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                    </p>
                </div>
            </li>
            <li class="what-you-get__content-item">
                <div class="what-you-get__content-img-wrapper">
                    <img src="@img/what-you-get-section/tool-icon.png" alt="img" class="what-you-get__content-img">
                </div>
                <div class="what-you-get__content-info-wrapper">
                    <h3 class="what-you-get__content-info-title">Incredibly Powerful Tool</h3>
                    <p class="what-you-get__content-info-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                        felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus.
                        Aliquam erat volutpat.
                    </p>
                </div>
            </li>
            <li class="what-you-get__content-item">
                <div class="what-you-get__content-img-wrapper">
                    <img src="@img/what-you-get-section/staff-icon.png" alt="img" class="what-you-get__content-img">
                </div>
                <div class="what-you-get__content-info-wrapper">
                    <h3 class="what-you-get__content-info-title">Experimental Stuff</h3>
                    <p class="what-you-get__content-info-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                        felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus.
                        Aliquam erat volutpat.
                    </p>
                </div>
            </li>
            <li class="what-you-get__content-item">
                <div class="what-you-get__content-img-wrapper">
                    <img src="@img/what-you-get-section/clock-icon.png" alt="img" class="what-you-get__content-img">
                </div>
                <div class="what-you-get__content-info-wrapper">
                    <h3 class="what-you-get__content-info-title">Creatred to Make The Web Better</h3>
                    <p class="what-you-get__content-info-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                        felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus.
                        Aliquam erat volutpat.
                    </p>
                </div>
            </li>
        </ul>
        <img src="@img/what-you-get-section/editor-small-img.png" alt="img" class="what-you-get__img-small">
        <img src="@img/what-you-get-section/editor-big-img.png" alt="img" class="what-you-get__img-big">
    </div>
    </div>
</section>