@import "mixins";
@import "var";

.header {
    font-family:'Montserrat', sans-serif;
    background: url(../img/header/headerBackground.png) no-repeat center;
    text-align: center;
    background-size: cover;
    min-width: 320px;

    &__navigation {
        background-color: $navigation-background-color;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 103px;
    }

    &__logo-img {
        background-image: url(../img/header/logoForkio.png);
        width: 43px;
        height: 41px;
    }
    &__logo-title {
        display: none;
    }
    &__logo:active .header__logo-img {
        background-image: url(../img/header/logoForkioHover.png);
        transition: all 0.3s ease 0s;
    }

    &__buy-button {
        @include headerButtonsStyle;
        border: 1px solid #8D81AC;
        padding: 10px 25px 10px 25px;
        font-size: 15px;
        &:active {
            @include headerBtnHover;
        }
    }

    &__menu-button {
        display: block;
        position: relative;
        width: 26px;
        height: 23px;
        cursor: pointer;
    }
    &__menu-button::before,
    &__menu-button::after {
        content: "";
        background-color: #FFFFFF;
        position: absolute;
        width: 26px;
        height: 3px;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
    }
    &__menu-button::before {
        top: 19px;
        left: 0;
    }
    &__menu-button::after {
        bottom: 9px;
        left: 0;
    }
    &__menu-button span {
        position: absolute;
        width: 15px;
        height: 3px;
        background-color: #FFFFFF;
        top: 3px;
        right: 0;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
    }

    // Клік-трансформація бургер-кнопки
    &__menu-button.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    &__menu-button.active::after {
        transform: rotate(-45deg);
        bottom: 10px;
    }
    &__menu-button.active span {
        transform: scale(0);
    }
    // Меню хедера (мобільна версія)
    &__menu {
        display: none;
    }
    &__menu.active {
        display: block;
        position: absolute;
        top: 103px;
        left: 10px;
        width: calc(100% - 20px);
        background:#333333;
    }

    &__menu-item::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 53px;
            background: #8D81AC;
            top: 15px;
            left: 0;
            display: none;
    }

    &__menu-item {
        padding: 28px 0 28px 36px;
        text-align: left;
        border-bottom: 2px solid #3b3b3b;
        position: relative;
        &:active {
            padding-left: 40px;
        }
        &:active .header__menu-link {
            color: #8D81AC;
            transition: all 0.3s ease 0s;
        }
        &:active::before {
            display: block;
        }
    }
    &__menu-item:last-child {
        border-bottom: none;
    }
    &__menu-link {
        @include headerMenuListMobile;
        display: block;
        color: #FFFFFF;
    }

    &__title {
        @include mainTitleFontMobile;
        padding-top: 49px;
        padding-bottom: 19px;
    }

    &__description {
        @include headerDescFontMobile;
        padding-bottom: 14px;

    }

    &__version {
        @include headerVersionFont;
        padding-bottom: 392px;
    }

    &__download-button {
        @include headerButtonsStyle;
        padding: 12px 31px 12px 31px;
        border: 2px solid #8D81AC;
        font-size: 18px;
        line-height: 20px;
        position: relative;
        top: 37px;
        &:active {
            @include headerBtnHover;
        }
    }

    &__trial {
        @include headerTrialFont;
        position: relative;
        top: 48px;
    }
}

// LAPTOP 481-992
@media (min-width: 481px) {

    .header {

        &__navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: space-evenly;
            flex-wrap: wrap;
            height: 118px;
        }

        &__logo {
            display: flex;
            align-items: center;
            &:active .header__logo-title {
                color: $header-hover-color;
                transition: all 0.3s ease 0s;
            }
        }
        &__logo-title {
            display: block;
            @include headerLogoFont;
            padding-left: 17px;
        }

        &__buy-button {
            border: 1px solid #8D81AC;
            padding: 10px 35px 10px 35px;
            font-size: 16px;
        }

        &__menu-button {
            display: none;
        }
        // Меню при Laptop версії
        &__menu {
            display: flex;
            margin: 0 auto;
            position: static;
            justify-content: space-evenly;
            width: 100%;
        }

        &__menu-item {
            padding: 0;
            border-bottom: none;
            &:active {
                padding-left: 0;
            }
            &:active::before {
                display: none;
            }
            &:active .header__menu-link {
                color: $header-hover-color;
                transition: all 0.3s ease 0s;
            }
        }

        &__menu-link {
            @include headerMenuList;
            color: $header-menu-list-color;
        }

        &__title {
            @include mainTitleFontLaptop;
            padding-top: 50px;
        }

        &__description {
            @include headerDescFontLaptop;
            padding-bottom: 19px;
        }

        &__version {
            padding-bottom: 365px;
        }

        &__download-button {
            border: 2px solid #8D81AC;
            padding: 18px 61px 18px 61px;
            font-size: 21px;
            line-height: 23px;
            top: 43px;
        }
    
        &__trial {
            top: 61px;
        }
}
}

// DESKTOP 993-1200
@media (min-width: 993px) {

    .header {

        &__navigation {
            background-color: transparent;
            justify-content: space-between;
            height: 100px;
        }

        &__logo {
            order: 1;
            &:hover .header__logo-title {
                color: $header-hover-color;
                transition: all 0.3s ease 0s;
            }
            &:hover .header__logo-img {
                background-image: url(../img/header/logoForkioHover.png);
                transition: all 0.3s ease 0s;
            }
        }

        &__buy-button {
            order: 3;
            &:hover {
                @include headerBtnHover;
            }
        }

        &__download-button {
            &:hover {
                @include headerBtnHover;
            }
        }

        &__menu-link {
            &:hover {
                color: $header-hover-color;
                transition: all 0.3s ease 0s;
            }
        }

        &__menu {
            position: relative;
            max-width: 527px;
            order: 2;
            justify-content: space-between;
            left: calc(50% / 2 - 180px);
        }

        &__title {
            @include mainTitleFontDesktop;
            padding-top: 64px;
        }

        &__description {
            @include headerDescFontDesktop;
        }
    }
}