@import "var";

// HEADER
// Mobile
@mixin headerButtonsStyle {
    border-radius: 40px;
    color:$button-text-color;
    background-color: #8D81AC;
    font-weight: 700;
    cursor: pointer;
}
@mixin headerMenuListMobile {
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
}
@mixin mainTitleFontMobile {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}
@mixin headerDescFontMobile {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #8D81AC;
}
@mixin headerVersionFont {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #848E97;
}
@mixin headerTrialFont {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848E97;
}
// Hover/active effects
@mixin headerBtnHover {
    background: #FFFFFF;
    color: $header-button-hover-text-color;
    transition: all 0.3s ease 0s;
}

// Laptop + Desktop
@mixin headerLogoFont {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8D81AC;
}
@mixin headerMenuList {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}
@mixin mainTitleFontLaptop {
    font-size: 72px;
    line-height: 72px;
}
@mixin headerDescFontLaptop {
    font-size: 24px;
    line-height: 24px;
}

// Desktop
@mixin mainTitleFontDesktop {
    font-size: 82px;
    line-height: 82px;
}
@mixin headerDescFontDesktop {
    font-size: 30px;
    line-height: 30px;
}

// MAIN

// Revolutionary Editor
// Mobile
@mixin revolTitleFontMobile {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    color: #635C73;
}
@mixin revolTextFontMobile {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}
// Laptop
@mixin revolTitleFontLaptop {
    font-size: 42px;
    line-height: 42px;
}
@mixin revolTextFont {
    font-size: 21px;
    line-height: 32px;
}
// Desktop
@mixin revolTitleFontDesktop {
    font-size: 54px;
    line-height: 54px;
}

// What You Get
// Mobile
@mixin whatGetTitleFontMobile {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
@mixin whatGetContentTitleFontMobile {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
@mixin whatGetContentTextFontMobile {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
// Laptop
@mixin whatGetTitleFontLaptop {
    font-size: 42px;
    line-height: 44px;
}
@mixin whatGetContentTitleFontLaptop {
    font-size: 16px;
    line-height: 21px;
}
@mixin whatGetContentTextFontLaptop {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
// Desktop
@mixin whatGetTitleFontDesktop {
    font-size: 48px;
    line-height: 50px;
}

// People Talking
// Mobile
@mixin peopleTalkingTitleFontMobile {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}
@mixin peopleTalkingItemTextFontMobile {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
@mixin peopleTalkingInfoFont {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

// Laptop
@mixin peopleTalkingTitleFontLaptop {
    font-size: 42px;
    line-height: 44px;
}

// Desktop
@mixin peopleTalkingTitleFontDesktop {
    font-size: 48px;
    line-height: 50px;
}


// FOOTER - Pricing section
// Mobile
@mixin pricingMainTitleFontMobile {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
}
@mixin pricingItemTitleFont {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}
@mixin pricingItemPriceFontMobile {
    font-weight: 700;
    font-size: 60px;
    line-height: 62px;
}
@mixin pricingItemPriceThinFontMobile {
    font-weight: 400;
    font-size: 60px;
    line-height: 62px;
}
@mixin pricingItemPeriodFont {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
@mixin pricingItemLisenceFont {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
@mixin pricingItemButtonFont {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
}
// active Item
@mixin pricingItemPriceActiveFont {
    font-weight: 700;
    font-size: 82px;
    line-height: 84px;
}
@mixin pricingItemPriceThinActive {
    font-weight: 400;
    font-size: 82px;
    line-height: 84px;
}
@mixin pricingItemButtonActiveFont {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

// Laptop
@mixin pricingMainTitleFontLaptop {
    font-size: 42px;
    line-height: 44px;
}

// Desktop
@mixin pricingMainTitleFont {
    font-size: 48px;
    line-height: 50px;
}