@import "mixins";
@import "var";

// Mobile
.people-talking {
    background: url(../img/talking-section/talking-bg.png) no-repeat center;
    background-size: cover;
    padding-top: 57px;
    padding-bottom: 36px;
    color: $people-talking-main-color;
    text-align: center;
    min-width: 320px;

    &__title {
        @include peopleTalkingTitleFontMobile;
        margin-bottom: 53px;
    }

    &__item {
        margin-bottom: 41px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-text {
        padding-top: 33px;
        @include peopleTalkingItemTextFontMobile;
    }

    &__info {
        margin-top: 29px;
        @include peopleTalkingInfoFont;
        color: #A291A5;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            border-bottom: 2px solid #645766;
            width: 245px;
            bottom: -20px;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
}

// LAPTOP 481-992
@media (min-width: 481px) {

    .people-talking {
        padding-top: 86px;
        padding-bottom: 31px;

        &__title {
            @include peopleTalkingTitleFontLaptop;
            margin-bottom: 85px;
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: center;
            row-gap: 54px;
        }

        &__item {
            margin-bottom: 0;
            align-self: baseline;
            width: 40%;
            flex-shrink: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        &__info {
            margin-top: 57px;
            &::after {
                content: "";
                position: absolute;
                border-bottom: 2px solid #645766;
                width: 460px;
                bottom: -20px;
                right: 0;
                left: 0;
                margin: auto;
            }
        }
    }
}

// DESKTOP 993-1200
@media (min-width: 993px) {

    .people-talking {
        padding-top: 108px;
        padding-bottom: 21px;

        &__title {
            @include peopleTalkingTitleFontDesktop;
            margin-bottom: 82px;
        }

        &__content {
            row-gap: 108px;
        }

        &__item {
            width: 30%;
        }

        &__info {
            margin: 115px auto 0 auto;
            max-width: 887px;
            &::after {
                content: "";
                position: absolute;
                border-bottom: 2px solid #645766;
                width: 780px;
                bottom: -18px;
                right: 0;
                left: 0;
                margin: auto;
            }
        }
    }
}