@import "mixins";
@import "var";

// Mobile
.pricing {
    background: url(../img/pricing-section/pricing-bg.png) no-repeat;
    background-size: cover;
    font-family: 'Montserrat';
    color: $pricing-main-text-color;
    text-align: center;
    padding-bottom: 18px;
    min-width: 320px;

    &__title {
        @include pricingMainTitleFontMobile;
        margin-bottom: 32px;
    }

    &__content-item {
        max-width: 257px;
        margin: 0 auto 18px auto;
       
    }

    &__item-header {
        padding: 36px 0;
        background: rgba(255,255,255,0.06);
    }

    &__item-title {
        @include pricingItemTitleFont;
    }

    &__item-main {
        background: rgba(255,255,255,0.11);
        padding-top: 30px;
        padding-bottom: 67px;
    }

    &__item-price {
        @include pricingItemPriceFontMobile;
    }

    &__item-price--thin {
        @include pricingItemPriceThinFontMobile;
    }

    &__item-period {
        @include pricingItemPeriodFont;
        padding-top: 20px;
        padding-bottom: 73px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            border-bottom: 5px solid #8D81AC;
            width: 60px;
            top: 68px;
            right: 0;
            left: 0;
            margin: auto;
        }
    }

    &__item-license {
        @include pricingItemLisenceFont;
        height: 55px;
    }

    &__item-button {
        @include pricingItemButtonFont;
        cursor: pointer;
        padding: 14px 36px;
        background: rgba(255,255,255,0.15);
        border-radius: 25px;
        margin-top: 38px;
    }

    // Active item
    &__content-item--active {
        max-width: 299px;
    }

    &__item-header--active {
        background: rgba(0,0,0,0.11);
        padding: 43px 0;
    }

    &__item-main--active {
        background: rgba(70,48,72,0.84);
        padding-top: 14px;
        padding-bottom: 47px;
    }

    &__item-price--active {
        @include pricingItemPriceActiveFont;
    }

    &__item-price--active span {
        @include pricingItemPriceThinActive;
    }

    &__item-period--active {
        padding-top: 16px;
        padding-bottom: 91px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            border-bottom: 5px solid #8D81AC;
            width: 60px;
            top: 76px;
            right: 0;
            left: 0;
            margin: auto;
        }
    }

    &__item-license--active {
        padding-bottom: 83px;
    }

    &__item-button--active {
        @include pricingItemButtonActiveFont;
        padding: 17px 49px;
    }
}

// LAPTOP 481-992
@media (min-width: 481px) {

    .pricing {
        padding-top: 79px;
        padding-bottom: 94px;

        &__title {
            @include pricingMainTitleFontLaptop;
            margin-bottom: 39px;
        }

        &__content {
            display: grid;
            grid-template-columns: minmax(218px, 299px) minmax(218px, 257px);
            justify-content: center;
            align-items: center;
            row-gap: 30px;
            column-gap: 25px;
        }

        &__content-item {
            margin-bottom: 0;
            flex-grow: 1;
            width: 100%;
            justify-self: center;
        }

    }
}

// DESKTOP 993-1200
@media (min-width: 993px) {

        .pricing {
            padding-top: 114px;
            padding-bottom: 73px;

            &__title {
                @include pricingMainTitleFont;
                margin-bottom: 61px;
            }

            &__content {
                flex-wrap: nowrap;
                row-gap: 30px;
                column-gap: 15px;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
}