@import "mixins";
@import "var";

// Mobile
.revolutionary {
    margin-top: 122px;
    text-align: center;
    min-width: 320px;

    &__title {
        @include revolTitleFontMobile;
        padding-bottom: 27px;
    }

    &__text {
        @include revolTextFontMobile;
        padding-bottom: 36px;
    }

    &__btn-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 20px;
    }
}
.btn-list {
    
    &__item {
        margin-right: 10px;
        border-radius: 6px;
        border: 1px solid rgba(27,31,36, 0.15);
        display: flex;
        align-items: center;
        color: #24292e;
        overflow: hidden;
    }

    &__link {
        display: flex;
        align-items: center;
        padding: 4px 12px;
        font-family: 'Montserrat';
        font-size: 12px;
        font-weight: 600;
        border-right: 1px solid rgba(27, 31, 36, 0.15);
        background-color: #f6f8fa;
    }

    &__img {
        margin-right: 4px;
    }

    &__count {
        padding: 4px 12px;
        font-family: 'Montserrat';
        font-size: 11px;
        font-weight: 600;
    }
}

// LAPTOP 481-992
@media (min-width: 481px) {

    .revolutionary {
        margin-top: 156px;

        &__title {
            @include revolTitleFontLaptop;
        }

        &__text {
            @include revolTextFont;
        }
    }
}

// DESKTOP 993-1200
@media (min-width: 993px) {

    .revolutionary {
        margin-top: 129px;

        &__title {
            @include revolTitleFontDesktop;
            padding-bottom: 35px;
        }

        &__text {
            padding-bottom: 30px;
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}