

$navigation-background-color: #27262A;
$button-text-color: #FFFFFF;

// Header 
$header-menu-list-color: #8D81AC;
$header-hover-color: #FFFFFF;
$header-button-hover-text-color: #8D81AC;

// Main

// What You Get
$what-get-title-color: #8D81AC;
$what-get-content-title-color: #323232;
$what-get-content-text-color: #848E97;

// People Talking
$people-talking-main-color: #FFFFFF;

// Pricing
$pricing-main-text-color: #FFFFFF;