@import "mixins";
@import "var";

// Mobile
.what-you-get {
    margin-top: 120px;
    margin-bottom: 6px;
    text-align: center;
    min-width: 320px;

    &__title {
        @include whatGetTitleFontMobile;
        color: $what-get-title-color;
        margin-bottom: 36px;
    }

    &__content-item {
        margin-bottom: 37px;
    }

    &__content-img-wrapper {
        margin-bottom: 27px;
    }

    &__content-info-title {
        @include whatGetContentTitleFontMobile;
        color: $what-get-content-title-color;
        margin-bottom: 14px;
    }

    &__content-info-text {
        @include whatGetContentTextFontMobile;
        color: $what-get-content-text-color;
    }

    &__img-big {
        display: none;
    }

    &__img-small {
        width: 103%;
    }
}

// LAPTOP 481-992
@media (min-width: 481px) {

    .what-you-get {
        margin-top: 160px;
        margin-bottom: 0;
        text-align: center;
    
        &__title {
            @include whatGetTitleFontLaptop;
            margin-bottom: 52px;
        }

        &__content-item {
            margin-bottom: 59px;
            display: flex;
            justify-content: space-around;
        }

        &__content-img-wrapper {
            margin-bottom: 0;
        }

        &__content-info-wrapper {
            text-align: start;
            width: 70%;
        }

        &__content-info-title {
            @include whatGetContentTitleFontLaptop;
            margin-bottom: 16px;
        }

        &__content-info-text {
            @include whatGetContentTextFontLaptop;
            color: $what-get-content-text-color;
        }

        &__img-small {
            display: none;
        }

        &__img-big {
            display: block;
            width: 102%;
            padding-left: 58px;
        }
}
}

// DESKTOP 993-1200
@media (min-width: 1050px) {

    .what-you-get {
        margin-top: 70px;
        padding-top: 100px;
        padding-bottom: 69px;
        text-align: center;
        background: #F4F4F4;
        position: relative;
        overflow-x: hidden;

        &__title {
            @include whatGetTitleFontDesktop;
            flex: 0 0 50%;
        }

        &__content {
            flex: 0 0 45%;
        }

        &__content-item {
            margin-bottom: 33px;
        }

        &__img-big {
            padding-left: 0;
            width: 50vw;
            top: 200px;
            left: 50%;
            position: absolute;
        }

        &__wrapper-flex {
            display: flex;
            flex-direction: row-reverse;
            gap: 30px;
        }
    }
}

@media (min-width: 1300px) {
    .what-you-get {

        &__img-big {
            width: 700px;
        }
    }
}