@import "reset";
@import "header";
@import "revolutionary-editor";
@import "what-you-get";
@import "people-talking";
@import "pricing";
@import "mixins";
@import "var";


html {
    box-sizing: border-box;
}
body {
      overflow-x: hidden;
}
a {
    text-decoration: none;
}
  
  .container {
    max-width: 480px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 10px;
    @media (min-width: 481px) {
      max-width: 992px;
    }
    @media (min-width: 993px) {
      max-width: 1200px;
    }
  }


